@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}
.date-range{
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
}
.navbar {
  height: 10vh;
 color: white;
 
}

.navGreen{
  background-color: chartreuse;
}
.navBlue{
  background-color:#7f9cce;
}
.navRed{
    background-color: indianred;
}

.nav-dark {
  background-color: #153444;
  color: white;
}
.navbar .navbar-wrapper {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-wrapper h1 {
  font-size: 28px;
  cursor: pointer;
  
}
h1{
  background-image: linear-gradient(15deg,  gold,red );
  background-size: 0% 50px;
  
  background-repeat: no-repeat;
  background-position: left 1px;
  transition :background-size 0.5s ease;
  border-radius: 20px 15px/ 40px 10px;
  margin: 5px;
  padding: 10px;

}
h1:hover{
  background-size: 100% 50px;
}
.navbar .navbar-wrapper :hover{
  background-size: 100% 50px;

}
/* Expense Details */
.expensedetails { 
  height: 250px;
}
.header-light {
  background-color: #f7f7f7;
}

.header-dark {
  background-color: #8b8a8ae3;
  color: white;
}

.expense-content h1 {
  margin-bottom: 30px;
  font-weight: 500;

}
.ExpenseWrapper{
  height: 100vh;
}
.expense-content .add-expense-btn {
  padding: 15px 20px;
  border : none;
  outline: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}


.btn-light {
  background-color: #1c88bf;
}

.btn-light:hover{
border: 1px solid black;
}
.btn-dark {
  background-color: #153444;
}
.btn-dark:hover {
  border: 1px solid white;
}

/* Filter form */
.filter-light {
  background-color: white;
}
.filter-dark {
  background-color: rgb(8, 8, 8);
  color: white;
}

.filter-content {
  display: flex;
  justify-content: space-between;
}

.filter-content input {
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}

.filter-content input::placeholder {
  font-size: 18px;
}

.filter-content select {
  width: 150px;
  border: 1px solid #ccc;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}
.wrap-light {
  background-color: white;
  color: #666;
}

.wrap-dark {
  background-color: black;
  color: white;
}


.ExpenseItemList {
  list-style: none;
  padding: 30px;
  margin-top: -80px;
  box-shadow: 0px 0px 5px gold;
  
  border-radius: 1em;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin: 18px 0;
  border-radius: 5px;
  padding: 15px;
}
.item-light {
  background-color: rgba(204, 204, 204, 0.24);
  border: 1px solid #ddd;
  color: #313131;
  border: 2px solid green;
}

.item-dark {
  background-color: rgba(41, 41, 41, 0.712);
  border: 1px solid #ccc;
  color: White;
}
.expense-item h5 {
  margin-bottom: 10px;
}

.expense-item h6 {
  font: 8px;
}

/* Form */
form input,
form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #ccc;
  border: 2px solid green;
}

form textarea {
  height: 120px;
  background-color: #ccc;
  border: 2px solid green;
}

.form-heading {
  height: 200px;
  color: #313131;
}
.form-heading-light {
  background-color: #f7f7f7;
}

.form-heading-dark {
  background-color: #8b8a8ae3;
  color: white;
}
.form-heading h1 {
  margin-bottom: 30px;
  font-weight: 500;
  

}

.submit-btn {
  width: 160px;
  padding: 15px 20px;
  border: none;
  outline: none;
  margin-top: 15px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.theme-btn {
  display: flex;   
  align-items: center;

}
.submit-btn-light:hover {
  border: 1px  solid black;

}

.submit-btn-light {
  background-color: #1c88bf;
}

.submit-btn-dark {
  background-color: #153444;
}
.submit-btn-dark:hover {
  border: 1px solid white;
}
.form-wrapper-light{
background-color: white;
}
.form-wrapper-dark{
  background-color:black;
}
.AiFillSetting{
  font-size: 40px;
  cursor: pointer;
}
input[type="date"] {
  text-transform: uppercase;
}
.deleteIcon{
  color: red;
 cursor: pointer;
}
.editIcon{
  color: greenyellow;
  padding-left: 20px;
  cursor: pointer;
  
}
.right{
  display: flex;
  justify-content: space-between;
  width: auto;
}
.SettingsWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 10px;
}

.Theme{
  height: 65vh;
  width: 80vw;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.233);
  margin-left: 30px;
  
}
.Layout{
  height: 65vh;
  width: 80vw;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.233);
}
.green,.blue,.red{
  height: 200px;
  width: 200px;
  border-radius: 30px;
  
  margin-top: 80px;
  margin-left: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}
.SettingsWrapper .white{
  background-color: white;
}
.green:hover,.blue:hover,.red:hover{
box-shadow: 0 0 3px 2px red,
              0 0 4px 5px yellow;
}
.selected{
  box-shadow: 0 0 0 4px white;
  
}

.green{
  background-color: chartreuse;
}
.blue{
  background-color:#7f9cce;
}
.red{
    background-color: indianred;
}
.light{
  background-color:lavender;
  color:black;
  
}
.dark{
   background-color: black;
  color: white;
  
  border-style: double ;
  }
.tracker-text h2{
  margin: 50px;
  padding: 5px;
  
}